<?xml version="1.0"?>
<opencv_storage>
<beardAddress>build/images/beard.png</beardAddress>
<leftEyeAddress>build/images/eyebrow_left.png</leftEyeAddress>
<rightEyeAddress>build/images/eyebrow_right.png</rightEyeAddress>
<hatAddress>build/images/hat.png</hatAddress>
<modelAddress>build/model/shape_predictor_68_face_landmarks.dat</modelAddress>
<hatLandmarks>
  70 401 197 604 323 396</hatLandmarks>
<beardLandmarks>
  29 53 32 89 44 131 74 168 121 193 161 200 195 207 234 197 275 186 321
  167 356 122 361 77 354 47 197 79</beardLandmarks>
<leftEyeLandmarks>
  22 123 55 105 101 89 153 79 206 68</leftEyeLandmarks>
<rightEyeLandmarks>
  12 70 59 75 106 83 145 99 188 122</rightEyeLandmarks>
</opencv_storage>
